.card{
  background-color: #BDBDBD;
  height: 500px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 30px 0;
  border-radius: 20px;
  transition: all 0.3s;
  text-decoration: none;
  text-decoration-color: none;
  font-family: 'Lobster Two', cursive;
}

.card:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  transform: translateY(-7px);
}

body{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-decoration: none;
}

#navbar{
  width: 100%;
  height: 75px;
  background-color: #455A64;
  border-radius: 20px ;
  display: flex;
  align-items: center;
}

#home{
  width: 1.5%;
  margin: 15px;
  transition:all 0.2s;
}

#home:hover{
  transform:scale(105%)
}

.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
 }
 
.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(75deg) translate(-150%, -50%);
  transition: all 0.75s;
 }
 
.btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }
 
.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
.btn:active {
  transform: scale(0.9);
 }

.button{
  background-color: #BDBDBD;
  height: 325px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 30px 0;
  border-radius: 20px;
  transition: all 0.3s;
  text-decoration: none;
  text-decoration-color: none;
}

.button:hover{
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
  transform: translateY(-7px);
}

.image{
  margin: 25px;
  size: 10%;
}

h1{
  font-family: 'Lobster Two', cursive;
}
